@import "./addcounter.css";
@import "./layer.css";

.box__content-emart {
  padding: 50px 0;

  .box__title {
    position: relative;

    .text__title {
      font-family: var(--gmarketFont);
      font-size: 28px;
      line-height: 32px;
      color: #222;
      text-align: center;
    }

    .link__all {
      position: absolute;
      top: 72px;
      right: 0;
      width: auto;
      height: auto;
      margin: 0;
      border: 0;
      border-radius: 0;
      background: transparent;
      font-size: 15px;
      line-height: 22px;
      color: #777;
      letter-spacing: -0.5px;

      .image {
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: top;
        margin: 2px 0 0 7px;
      }
    }
  }

  .box__category-wrap {
    margin: 16px 0 32px;

    .button__category {
      position: relative;
      overflow: hidden;
      display: inline-block;
      font-size: 16px;
      border: 1px solid #e0e0e0;
      border-radius: 35px;
      background: #fff;
      box-sizing: border-box;
      height: 48px;
      margin: 0 4px;
      padding: 0 23px;
      cursor: pointer;

      .image__logo {
        height: 24px;
        vertical-align: middle;
      }

      &.button__category--active {
        background: #00c400;
      }
    }
  }

  .box__contents-wrap {
    position: relative;

    .box__itemcard-wrapper {
      width: 1220px;

      .swiper-wrapper {
        .list-item {
          width: 224px !important;
          padding: 0 10px;

          .box__image {
            width: 224px;
            height: 224px;

            .text__label {
              width: auto;
              border-radius: 8px 0 6px 0;
              padding: 0 8px;
              line-height: 32px;
            }
          }

          .box__info {
            padding: 0 7px;

            .text__title {
              width: calc(100% - 20px);
            }
          }

          .button__favorite {
            position: absolute;
            right: 12px;
            top: 280px;
            width: 24px;
            height: 24px;
            border: 0;
            background: url(../../public/image__favorite.png) no-repeat
              center/24px 24px;
            z-index: 1;
            cursor: pointer;

            &.button__favorite--active {
              background: url(../../public/image__favorite--active.png)
                no-repeat center/ 24px 24px;
            }
          }
        }
      }
    }

    .button__swiper {
      position: absolute;
      top: 101px;
      left: 21px;
      width: 42px;
      height: 42px;
      border: 0;
      border-radius: 50%;
      z-index: 10;

      &.button__swiper-next {
        left: auto;
        right: 21px;
        background: url(../../public/image__arrow-right.png) no-repeat center /
          42px 42px;

        &:hover {
          background: url(../../public/image__arrow-right--active.png) no-repeat
            center / 42px 42px;
        }
      }

      &.button__swiper-prev {
        background: url(../../public/image__arrow-left.png) no-repeat center /
          42px 42px;

        &:hover {
          background: url(../../public/image__arrow-left--active.png) no-repeat
            center / 42px 42px;
        }
      }
    }

    .link__all {
      display: inline-block;
      width: 352px;
      height: 52px;
      margin: 50px 0 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 35px;
      background: #fafafa;
      font-size: 16px;
      color: #757575;
      line-height: 52px;
      vertical-align: top;
    }
  }
}
