.box__filter-wrap {
  max-width: 768px;
  margin: 0 auto;
  background: var(--white);
  .box__category-wrap {
    .list__options {
      .list-item {
        display: flex;
        padding: 6px 12px;
        border-bottom: 1px solid var(--Gray-200);
        .text__title {
          width: 70px;
          font-size: 14px;
          font-weight: bold;
          text-align: left;
        }
        .box__options-wrap {
          display: flex;
          width: calc(100% - 70px);
          flex: 1;
          gap: 5px;
          text-align: left;
          overflow-y: scroll;
          .button__options {
            position: relative;
            width: max-content;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            font-size: 12px;
            line-height: 14px;
            white-space: nowrap;
            &.button__options--active {
              color: var(--Green-300);
              font-weight: bold;
              &::after {
                content: "";
                display: inline-block;
                margin: -2px 0 0 2px;
                width: 14px;
                height: 14px;
                background: url(../images/snowwhite/snowwhite.png);
                background-size: auto 42px;
                background-repeat: no-repeat;
                background-position: -20px -12px;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
  }
  .box__filter-options {
    position: relative;
    overflow: hidden;
    .list__filter-options {
      display: flex;
      gap: 5px;
      padding: 12px;
      .list-item {
        .button__option {
          height: 32px;
          border: 1px solid var(--Gray-300);
          border-radius: 6px;
          padding: 0 8px;
          font-size: 12px;
          line-height: 32px;
          box-sizing: border-box;
          &.button__option--active {
            background-color: var(--Green-300);
            color: var(--white);
          }
        }
      }
    }
    .button__open-filter {
      position: absolute;
      right: 18px;
      top: 18px;
      width: 32px;
      height: 32px;
      border: 1px solid #e0e0e0;
      border-radius: 6px;
      padding: 6px;
      box-sizing: border-box;
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/snowwhite/snowwhite.png);
        background-size: auto 42px;
        background-repeat: no-repeat;
        background-position: -34px 1px;
      }
      &.button__open-filter--active {
        border-color: var(--Green-300);
        &::before {
          background-position: -34px -17px;
        }
      }
    }
  }
}
.box__filter-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .box__layer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 80%;
    transition: right 0.3s ease;
    background-color: var(--white);
    .box__layer-header {
      position: relative;
      .box__title-wrap {
        display: flex;
        height: 48px;
        padding: 10px 15px;
        box-sizing: border-box;
        .text__title {
          padding-top: 5px;
          font-size: 18px;
          line-height: 1;
        }
        .button__reset {
          margin-left: 10px;
          width: 102px;
          height: 28px;
          font-size: 13px;
          line-height: 1;
          &::before {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            background: url(../images/snowwhite/snowwhite.png);
            background-size: auto 42px;
            background-position: -22px -1px;
            background-repeat: no-repeat;
            vertical-align: top;
          }
        }
      }
      .button__close {
        position: absolute;
        top: 14px;
        right: 16px;
        width: 22px;
        height: 22px;
        border: 0;
        background: url(../images/snowwhite/snowwhite.png);
        background-size: auto 42px;
        background-position: -53px 2px;
        background-repeat: no-repeat;
      }
    }
    .box__layer-body {
      border-top: 1px solid var(--Gray-200);
      .box__filter-inner {
        border-bottom: 1px solid var(--Gray-200);
        box-sizing: border-box;
        .button__title {
          width: 100%;
          height: 48px;
          position: relative;
          padding: 16px;
          box-sizing: border-box;
          background: transparent;
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          line-height: 1;
          &:after {
            content: "";
            position: absolute;
            top: 16px;
            right: 22px;
            width: 1px;
            height: 1px;
            padding: 3px;
            border: solid var(--black);
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
        .list__filter {
          display: none;
          border-top: 1px solid var(--Gray-200);
          .list-item {
            position: relative;
            height: 44px;
            font-size: 14px;
            text-align: left;
            padding-left: 16px;
            line-height: 44px;
            box-sizing: border-box;
            border-bottom: 1px solid var(--Gray-200);
            input[type="checkbox"] {
              appearance: none;
              width: 20px;
              height: 20px;
              position: absolute;
              top: 12px;
              right: 16px;
              background: url(../images/snowwhite/snowwhite.png);
              background-size: auto 42px;
              vertical-align: top;
              &:checked {
                background-position: 0 -22px;
              }
            }
          }
        }
        &.box__filter-inner--active {
          .button__title {
            &::after {
              top: 21px;
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);
            }
          }
          .list__filter {
            display: block;
          }
        }
      }
    }
  }
  .box__dimmed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.32);
  }
}
