.box__info {
  margin-top: 12px;
  .text__title {
    max-height: 44px;
    margin-bottom: 4px;
    font-size: 15px;
    color: var(--Gray-900);
    line-height: 22px;
    text-align: left;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .box__price {
    text-align: left;
    .box__coupon-discount {
      margin-bottom: 2px;
      line-height: 1;
      .text__coupon {
        display: inline-block;
        font-size: 12px;
        color: var(--Red-600);
        line-height: 16px;
        vertical-align: top;
      }
      .text__coupon-price {
        display: inline-block;
        margin-left: 2px;
        font-size: 12px;
        font-family: var(--gmarketFont);
        color: var(--Gray-500);
        line-height: 16px;
        vertical-align: top;
        .text__value {
          text-decoration: line-through;
        }
        .text__unit {
          font-family: var(--Font);
        }
      }
    }
    .box__discount {
      font-size: 0;
      .text__discout-precent {
        display: inline-block;
        margin-right: 4px;
        font-size: 12px;
        font-weight: normal;
        font-family: var(--gmarketFont);
        color: var(--Red-600);
        line-height: 16px;
        vertical-align: top;
      }
      .text__discount-price {
        font-size: 0;
        .text__original-price{
          display: inline-block;
          font-size: 12px;
          font-family: var(--gmarketFont);
          color: var(--Gray-500);
          line-height: 16px;
          vertical-align: top;
          text-decoration-line: line-through;
        }
        .text__selling-price {
          display: inline-block;
          font-size: 12px;
          font-weight: normal;
          font-family: var(--gmarketFont);
          color: var(--Gray-500);
          line-height: 16px;
          vertical-align: top;
          text-decoration-line: line-through;
        }
        .text__unit {
          display: inline-block;
          font-size: 11px;
          font-weight: normal;
          font-family: var(--Font);
          color: var(--Gray-500);
          line-height: 14px;
          vertical-align: top;
        }
      }
    }
    .box__selling-price {
      display: inline-block;
      margin-right: 4px;
      font-size: 18px;
      font-weight: 700;
      color: var(--Gray-800);
      line-height: 22px;
      vertical-align: top;
      .text__selling-price {
        font-family: var(--gmarketFont);
      }
      .text__unit {
        font-size: 16px;
      }
    }
    &:has(.box__coupon-discount) {
      .box__discount {
        .text__discout-precent {
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
        }
        .text__discount-price {
          .text__selling-price {
            font-size: 18px;
            font-weight: 700;
            color: var(--Red-600);
            line-height: 22px;
            text-decoration-line: none;
          }
          .text__unit {
            font-size: 16px;
            font-weight: bold;
            color: var(--Red-600);
            line-height: 20px;
            vertical-align: 1px;
          }
        }
      }
    }
  }
  .list__lmo {
    margin-top: 12px;
    white-space: nowrap;
    list-style: none;
    font-size: 0;
    text-align: left;
    .list-item__lmo {
      display: inline-block;
      position: relative;
      line-height: 1;
      vertical-align: top;
      .image {
        display: inline-block;
        height: 16px;
        vertical-align: top;
      }
      .text {
        margin-left: 2px;
        display: inline-block;
        font-size: 13px;
        line-height: 16px;
        color: var(--Gray-600);
        font-weight: normal;
        vertical-align: top;
      }
      .text__star {
        color: var(--Gray-900);
      }
      .text__number {
        margin-left: 2px;
      }
      & + .list-item__lmo {
        padding-left: 8px;
        &::before {
          content: "";
          position: absolute;
          top: 7px;
          left: 4px;
          content: "";
          display: inline-block;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: var(--Gray-400);
        }
      }
    }
  }
}

.page__mobile{
  .box__items-wrap{
    .list__items{
      .list-item{
        .box__info{
          .text__title{
              max-height: 40px;
              margin-top: 2px;
              margin-bottom: 0;
              font-size: 14px;
              font-family: var(--Font);
              line-height: 20px;
              word-break: break-all;
          }
          .list__lmo{
              margin-top: 6px;
              .list-item__lmo{
              .text{
                  font-size: 12px;
              }
              }
          }
          .box__price{
              &:has(.box__coupon-discount){
              .box__discount{
                  .text__discout-precent{
                  font-size: 13px;
                  font-weight: normal;
                  line-height: 20px;
                  }
                  .text__discount-price{
                  .text__selling-price{
                      /* background-color: red; */
                      font-size: 14px;
                      font-family: var(--gmarketFont);
                      line-height: 20px;
                  }
                  .text__unit{
                      font-size: 12px;
                      vertical-align: top;
                  }
                  }
              }
              }
              .box__coupon-discount{
              .text__coupon,
              .text__coupon-price{
                  font-size: 11px;
                  line-height: 14px;
              }
              }
              .box__discount{
              .text__discout-precent{
                  font-size: 13px;
                  line-height: 20px;
              }
              .text__discount-price{
                .text__original-price{
                  font-size: 11px;
                  line-height: 14px;
                  }
                  .text__selling-price{
                  /* background-color: red; */
                  font-size: 11px;
                  font-family: var(--gmarketFont);
                  line-height: 14px;
                  }
                  .text__unit{
                  position: relative;
                  top: -1px;
                  font-size: 11px;
                  }
              }
              &~.text__discout-precent{
                  display: inline-block;
                  margin-right: 2px;
                  font-size: 13px;
                  font-family: var(--gmarketFont);
                  color: var(--Red-600);
                  line-height: 20px;
                  vertical-align: top;
              }
              }
              .box__selling-price{
              margin-right: 0;
              font-size: 14px;
              line-height: 1.125;
              .text__unit{
                  font-size: 12px;
              }
              }

          }
        }
        .box__info{
          .text__title{
            max-height: 40px;
            margin-top: 2px;
            margin-bottom: 0;
            font-size: 14px;
            font-family: var(--Font);
            line-height: 20px;
            word-break: break-all;
          }
          .list__lmo{
            margin-top: 6px;
            .list-item__lmo{
              .text{
                font-size: 12px;
              }
            }
          }
          .box__price{
            &:has(.box__coupon-discount){
              .box__discount{
                .text__discout-precent{
                  font-size: 13px;
                  font-weight: normal;
                  line-height: 20px;
                }
                .text__discount-price{
                  .text__selling-price{
                    /* background-color: red; */
                    font-size: 14px;
                    font-family: var(--gmarketFont);
                    line-height: 20px;
                  }
                  .text__unit{
                    font-size: 12px;
                    vertical-align: top;
                  }
                }
              }
            }
            .box__coupon-discount{
              .text__coupon,
              .text__coupon-price{
                font-size: 11px;
                line-height: 14px;
              }
            }
            .box__discount{
              .text__discout-precent{
                font-size: 13px;
                line-height: 20px;
              }
              .text__discount-price{
                .text__original-price{
                  font-size: 11px;
                  line-height: 14px;
                }
                .text__selling-price{
                  /* background-color: red; */
                  font-size: 11px;
                  font-family: var(--gmarketFont);
                  line-height: 14px;
                }
                .text__unit{
                  position: relative;
                  top: -1px;
                  font-size: 11px;
                }
              }
              &~.text__discout-precent{
                display: inline-block;
                margin-right: 2px;
                font-size: 13px;
                font-family: var(--gmarketFont);
                color: var(--Red-600);
                line-height: 20px;
                vertical-align: top;
              }
            }
            .box__selling-price{
              margin-right: 0;
              font-size: 14px;
              line-height: 1.125;
              .text__unit{
                font-size: 12px;
              }
            }
          }
        }
        &.list-item--rank1{
          .box__info{
            width: calc(100% + 80px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .text__title{
              margin-top: 4px;
              text-align: center;
            }
            .box__price{
              &:has(.box__coupon-discount){
                text-align: center;
                .box__coupon-discount{
                  margin-bottom: 0;
                  .text__coupon{
                    font-size: 11px;
                    line-height: 14px;
                  }
                  .text__coupon-price{
                    font-size: 11px;
                    line-height: 14px;
                  }
                }
                .box__discount{
                  .text__discout-precent{
                    margin-right: 2px;
                    font-size: 15px;
                    line-height: 20px;
                  }
                }
                .text__discount-price{
                  .text__selling-price{
                    font-size: 16px;
                    line-height: 20px;
                  }
                  .text__unit{
                    position: relative;
                    top: -1px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}