.box__layer {
  z-index: 1000;
  display: none;
  position: fixed;
  inset: 0px;
  .box__layer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    background: var(--White);
    border-radius: 16px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 1010;
    text-align: center;
    .box__layer-header {
      height: 36px;
      border-bottom: 1px solid #f8f8f8;
      line-height: 36px;
      .button__close {
        position: absolute;
        right: 8px;
        top: 8px;
        border: 0;
        background: transparent;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .box__layer-body {
      padding: 0 10px 10px;
      .button__confirm {
        width: 100%;
        height: 48px;
        margin-top: 30px;
        border: 0;
        border-radius: 8px;
        background: var(--Green-500);
        font-size: 14px;
        color: var(--White);
      }
    }
  }
  .box__dimmed {
    position: absolute;
    top: -1000%;
    left: -1000%;
    right: -1000%;
    bottom: -1000%;
    background: rgba(0, 0, 0, 0.4);
  }
  &.box__layer--active {
    display: block;
  }
}
