@import "./css/common.css";
@import "./css/best.css";
@import "./css/itemcard.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.box__second-terms {
  .box__navigation {
    display: flex;
    height: 50px;
    gap: 5px;
    padding: 16px 20px;

    .link__navi {
      flex: 1;
      font-size: 16px;
      font-family: var(--gmarketFont);
      color: var(--black);
      text-decoration: none;
      &.link__active {
        font-weight: bold;
        color: var(--blue);
      }
    }
  }
}
.for-a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  text-indent: -5000em;
}
